:root {
  --header-height: 100px;
}

body {
  line-height: 1.4;
  margin: 0;
}

header {
  background-color: skyblue;
  height: var(--header-height);
  display: flex;
  justify-content: right;
  position: relative;
  padding: 10px;
}

header > ul > li > a {
  text-decoration: none;
  color: white;
}

main {
  margin: 16px;
}

h1 {
  line-height: 38px;
}

#js-triggers {
  list-style-type: none;
  position: absolute;
  bottom: 0;
}

nav {
  position: absolute;
  top: var(--header-height);
}

nav > ul > li > a,
nav > ul > li > ul > li > a {
  text-decoration: none;
  color: black;
}
