:root {
  --header-height: 100px;
  --nav-height: 58px;
}

body {
  line-height: 1.4;
  margin: 0;
  position: relative;
}

header {
  background-color: skyblue;
  height: var(--header-height);
  display: flex;
  justify-content: right;
  position: relative;
  z-index: 1;
}

header > ul {
  padding: 10px;
}

header > ul > li > a {
  text-decoration: none;
  color: white;
}

main {
  margin: 16px;
}

h1 {
  line-height: 38px;
}

#js-triggers {
  list-style-type: none;
  position: absolute;
  bottom: 0;
  margin: 0;
}

nav {
  position: absolute;
  top: calc(var(--header-height) - var(--nav-height));
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 0;
  line-height: var(--nav-height);
  transition: 500ms;
}

nav > ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: gray;
}

nav > ul > li {
  border: 4px solid silver;
}

nav > ul > li > ul {
  list-style-type: none;
  margin-left: -40px;
  display: none;
}

nav > ul > li > a,
nav > ul > li > ul > li > a {
  text-decoration: none;
  color: black;
  display: block;
  width: 150px;
  line-height: 48px;
}
